---
layout: default
title: Natron
---

<!-- Hero Section -->
<section class="index-hero row">
  <div class="column large-10 medium-10 small-12 large-offset-1 medium-offset-1">
    <div class="row">
      <div class="column large-6 medium-6 small-12 center-on-small">
        <h2>Powerful<br />Open&#8209;Source<br />Compositing<br />Software</h2>
        <div class="index-hero-seperator"></div>
        <a href="{{site.baseurl}}/downloads" class="button"><i class='bx bxs-download'></i> Download Natron 2.3.14</a>
      </div>
    </div>
  </div>
</section>

<!-- Brief About Section -->
<section class="index-about row">
  <div class="column large-5 medium-5 small-12 large-offset-1 medium-offset-1">
    <h3>Cross-Platform?<br />No Problem.</h3>
    <p class="basic-paragraph">
      Natron is a node-based digital compositing suite that can handle 2D and some 2.5D tasks. It's built with robust frameworks such as OpenFX and OpenImageIO making Natron the most flexible open-source program for visual effects compositing. Natron's interface and functionally are the same across MacOS, Linux and Windows and powerful keying, roto, paint, and 2D tracking tools are included out of the box.
      <br />
      <br />
      It's also completely free.
    </p>
    <h3><i class='bx bxl-apple'></i> <i class='bx bxl-windows'></i></h3>
  </div>
  <div class="index-about-imagecontainer column large-5 medium-5 small-12">
    <img src="{{site.baseurl}}/img/about_imgMonitor.png" />
  </div>
</section>


<!-- list all features -->
<h2>Features</h2>
<div class="clearfix">
{% for features in site.categories.features reversed %}
<div class="featbox">
<a href="{{site.baseurl}}{{features.url}}">
{% if features.image %}
<img src="{{site.baseurl}}/img/{{features.image}}" style="width:220px;height:auto;" alt="{{features.title}}" />
{% else %}
<img src="{{site.baseurl}}/img/placeholder.png" style="width:220px;height:auto;" alt="{{post.title}}" />
{% endif %}
</a>
<h3>{{features.title}}</h3>
{{features.description}}
</div>
{% endfor %}
</div>

<!-- list latest news -->
<h2>News</h2>
<div class="clearfix">
{% for post in site.categories.news limit:10 %}
<div class="featbox2">
<a href="{{site.baseurl}}{{post.url}}">
{% if post.image %}
<img src="{{site.baseurl}}/img/{{post.image}}" style="width:220px;height:auto;" alt="{{post.title}}" />
{% else %}
<img src="{{site.baseurl}}/img/placeholder.png" style="width:220px;height:auto;" alt="{{post.title}}" />
{% endif %}
</a>
<h3><a href="{{site.baseurl}}{{post.url}}" >{{ post.title }}</a></h3>
<small>{{ post.date | date: "%-d %B %Y" }}</small><br>
{{post.description}}
</div>
{% endfor %}
</div>
