---
layout: default
title: Natron
---

<!-- Hero Section -->
<section class="index-hero row">
  <div class="column large-10 medium-10 small-12 large-offset-1 medium-offset-1">
    <h2>Open Source Compositing<br />For VFX and Motion Graphics</h2>
    <a href="#download" class="button">
      <i class='bx bxs-download' ></i>Download Natron
    </a>
  </div>
</section>

<!-- Brief About Section -->
<section class="index-about row">
  <div class="index-about-info column large-5 medium-10 small-12 large-offset-1 medium-offset-1">
    <h3>Fully Cross-Platform</h3>
    <p class="basic-paragraph">
      Natron is a node-based digital compositing suite that can handle 2D and some 2.5D tasks. It's built with robust frameworks such as OpenFX and OpenImageIO making Natron the most flexible open-source program for visual effects compositing. Powerful keying, roto, paint, and 2D tracking tools are included out of the box and Natron's interface and feature set are the same across all platforms.
      <br />
      <br />
      It's also <em>completely free</em> to use.
    </p>
    <div class="index-about-osimagecontainer">
      <object type="image/svg+xml" data="{{"/img/crossplatform.svg" | prepend: site.baseurl }}"></object>
    </div>
  </div>
  <div class="index-about-imagecontainer column large-5 medium-10 small-12 large-offset-0 medium-offset-0 small-offset-0">
    <img alt="A monitor with Natron displayed on it" src="{{site.baseurl}}/img/about_imgMonitor.png" />
  </div>
</section>


<!-- Feature List -->
<section class="index-features">
  <div class="row">
    <div class="column large-10 medium-10 small-12 large-offset-1 medium-offset-1">
      <h3>Features</h3>
    </div>
  </div>
  <div class="row">
    <div class="column large-8 medium-10 small-12 large-offset-2 medium-offset-1">
      <ul class="index-features-card">
        <li>
          <div>
            <object type="image/svg+xml" data="{{"/img/index-feature-cards/openfx.svg" | prepend: site.baseurl }}"></object>
            <div class="index-features-title">
              <h4>OpenFX Plugin Support</h4>
            </div>
            <p class="basic-paragraph">
              Natron supports industry standard OFX plug-ins.
            </p>
          </div>
        </li>
        <li>
          <div>
            <object type="image/svg+xml" data="{{"/img/index-feature-cards/tracking.svg" | prepend: site.baseurl }}"></object>
            <div class="index-features-title">
              <h4>Tracking</h4>
            </div>
            <p class="basic-paragraph">
              Natron includes powerful 2D, and Planar trackers.
            </p>
          </div>
        </li>
        <li>
          <div>
            <object type="image/svg+xml" data="{{"/img/index-feature-cards/roto.svg" | prepend: site.baseurl }}"></object>
            <div class="index-features-title">
              <h4>Roto</h4>
            </div>
            <p class="basic-paragraph">
              Multi-layered rotoscoping with stroke capability.
            </p>
          </div>
        </li>
        <li>
          <div>
            <object type="image/svg+xml" data="{{"/img/index-feature-cards/keyer.svg" | prepend: site.baseurl }}"></object>
            <div class="index-features-title">
              <h4>Keying</h4>
            </div>
            <p class="basic-paragraph">
              Natron offers various keying tools.
            </p>
          </div>
        </li>
        <li>
          <div>
            <object type="image/svg+xml" data="{{"/img/index-feature-cards/dopesheet.svg" | prepend: site.baseurl }}"></object>
            <div class="index-features-title">
              <h4>Curve & Dope-sheet Editors</h4>
            </div>
            <p class="basic-paragraph">
              If you've used a curve editor before you know how to use this one too.
            </p>
          </div>
        </li>
        <li>
          <div>
            <object type="image/svg+xml" data="{{"/img/index-feature-cards/gpu.svg" | prepend: site.baseurl }}"></object>
            <div class="index-features-title">
              <h4>GPU & Network Rendering</h4>
            </div>
            <p class="basic-paragraph">
              Natron is GPU accelerated and can be integrated with render farm managers.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Latest News -->
<section class="row">
  <div class="index-news column large-5 medium-10 small-12 large-offset-1 medium-offset-1">
    <h3>The Latest</h3>
    <div class="index-newspost">
      {% for post in site.posts limit:4 %}
      <div>
        <h4><i class='bx bx-news'></i> {{ post.title }}</h4>
        <p class="index-news-date">
          Posted on {{ post.date | date: "%B %-d, %Y" }} {% if post.author %} by {{ post.author }} {% endif %}
        </p>
        <div class="index-news-link">
          <a class="news-link" href="{{site.baseurl}}{{post.url}}">Read more<i class='bx bx-right-arrow-alt' ></i></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="index-news-imagecontainer column large-5 medium-10 small-12 large-offset-0 medium-offset-0 small-offset-0">
    <img alt="Nodes in a Natron project" src="{{site.baseurl}}/img/nodegraph.png" />
  </div>
</section>

<!-- Download & Get Involved -->
<!-- These links are set up to download the latest version from GitHub as long as a release post (with the category of "release") has been added with the applicable version number. -->
<section class="index-downloadsection row">
  <div id="download" class="index-download column large-5 medium-10 small-12 large-offset-1 medium-offset-1">
    <h3>Download Natron</h3>
    <h4>Version {% for post in site.categories.release limit:1 %}{{post.version}}{% endfor %}</h4>
    <div class="index-download-box">
      <h5><i class='bx bxl-apple'></i> MacOS</h5>
      <a class="hyperlink-inverted" href="https://github.com/NatronGitHub/Natron/releases/latest/download/Natron-{% for post in site.categories.release limit:1 %}{{post.version}}{% endfor %}.dmg"><i class='bx bxs-component'></i> DMG Installer</a>

      <h5><i class='bx bxl-windows'></i> Windows</h5>
      <a class="hyperlink-inverted" href="https://github.com/NatronGitHub/Natron/releases/latest/download/Natron-{% for post in site.categories.release limit:1 %}{{post.version}}{% endfor %}-Windows-x86_32bit-setup.exe"><i class='bx bxs-component'></i> 32 Bit Installer</a>
      <a class="hyperlink-inverted" href="https://github.com/NatronGitHub/Natron/releases/latest/download/Natron-{% for post in site.categories.release limit:1 %}{{post.version}}{% endfor %}-Windows-x86_64bit-setup.exe"><i class='bx bxs-component'></i> 64 Bit Installer</a>
      <br />
      <a class="hyperlink-inverted" href="https://github.com/NatronGitHub/Natron/releases/latest/download/Natron-{% for post in site.categories.release limit:1 %}{{post.version}}{% endfor %}-Windows-x86_32bit-no-installer.zip"><i class='bx bxs-package' ></i></i> 32 Bit Portable</a>
      <a class="hyperlink-inverted" href="https://github.com/NatronGitHub/Natron/releases/latest/download/Natron-{% for post in site.categories.release limit:1 %}{{post.version}}{% endfor %}-Windows-x86_64bit-no-installer.zip"><i class='bx bxs-package' ></i></i> 64 Bit Portable</a>

      <h5><i class='bx bx-terminal'></i> Linux</h5>
      <a class="hyperlink-inverted" href="https://github.com/NatronGitHub/Natron/releases/latest/download/Natron-{% for post in site.categories.release limit:1 %}{{post.version}}{% endfor %}-Linux-x86_32bit.tgz"><i class='bx bxs-component'></i> 32 Bit Installer</a>
      <a class="hyperlink-inverted" href="https://github.com/NatronGitHub/Natron/releases/latest/download/Natron-{% for post in site.categories.release limit:1 %}{{post.version}}{% endfor %}-Linux-x86_64bit.tgz"><i class='bx bxs-component'></i> 64 Bit Installer</a>
      <br />
      <a class="hyperlink-inverted" href="https://github.com/NatronGitHub/Natron/releases/latest/download/Natron-{% for post in site.categories.release limit:1 %}{{post.version}}{% endfor %}-Linux-x86_32bit-portable.tar.xz"><i class='bx bxs-package' ></i></i> 32 Bit Portable</a>
      <a class="hyperlink-inverted" href="https://github.com/NatronGitHub/Natron/releases/latest/download/Natron-{% for post in site.categories.release limit:1 %}{{post.version}}{% endfor %}-Linux-x86_64bit-portable.tar.xz"><i class='bx bxs-package' ></i></i> 64 Bit Portable</a>

      <h5><i class='bx bx-code-alt' ></i></i> Source Code</h5>
      <a class="hyperlink-inverted" href="https://github.com/NatronGitHub/Natron/archive/v{% for post in site.categories.release limit:1 %}{{post.version}}{% endfor %}.zip"><i class='bx bxs-file-archive'></i> .zip</a>
      <a class="hyperlink-inverted" href="https://github.com/NatronGitHub/Natron/archive/v{% for post in site.categories.release limit:1 %}{{post.version}}{% endfor %}.tar.gz"><i class='bx bxs-file-archive'></i> .tar.gz</a>
    </div>
  </div>
  <div class="index-getinvolved column large-5 medium-10 small-12 large-offset-0 medium-offset-0 small-offset-0">
    <h3>Get Involved</h3>
    <p class="basic-paragraph">
      Natron is currently looking for developers and contributors! Instructions for building Natron yourself and contributing are available <a class="hyperlink-inverted" href="https://github.com/NatronGitHub/Natron/#contributing">on our GitHub</a>, we regularly review and accept pull requests.
    </p>
    <h3>Join The Community</h3>
    <p class="basic-paragraph">
      Need some help? Want to show off your work? Check out the <a class="hyperlink-inverted" href="https://discuss.pixls.us/c/software/natron">Natron forums on Pixls.us!</a>
      <br />
      <br />
      Natron also has a community <a class="hyperlink-inverted" href="https://discordapp.com/invite/xWAQzPF">Discord server</a> if chat is more your thing.
    </p>
  </div>
</section>
<div class="footer-seperator"></div>