<footer class="row">
  <div class="column large-2 medium-5 small-12 large-offset-1 medium-offset-1">
    <h5 class="footer-title">Links</h5>
    <ul class="footer-list">
      <li>
        <a class="hyperlink-inverted" href="{{site.url}}">Home</a>
      </li>
      <li>
        <a class="hyperlink-inverted" href="{{site.url}}/about">About</a>
      </li>
      <li>
        <a class="hyperlink-inverted" href="{{site.url}}/news">News</a>
      </li>
      <li>
        <a class="hyperlink-inverted" href="https://natron.readthedocs.io/en/rb-2.3/#">Documentation</a>
      </li>
      <li>
        <a class="hyperlink-inverted" href="{{site.url}}/community">Community</a>
      </li>
  </div>
  <div class="column large-2 medium-5 small-12 large-offset-1">
    <h5 class="footer-title">Natron on The Web</h5>
    <ul class="footer-list">
      <li>
        <a class="hyperlink-inverted" href="https://twitter.com/natronvfx"><i class='bx bxl-twitter'></i>Twitter</a>
      </li>
      <li>
        <a class="hyperlink-inverted" href="https://github.com/NatronGitHub"><i class='bx bxl-github'></i>GitHub</a>
      </li>
      <li>
        <a class="hyperlink-inverted" href="https://discuss.pixls.us/c/software/natron"><i class='bx bxs-comment-detail'></i>Forum</a>
      </li>
  </div>
</footer>