<nav class="topnav row left-on-large left-on-medium center-on-small">
  <div class="topnav-logo column medium-2 large-2 small-12 large-offset-1 medium-offset-1">
    <a href="{{site.url}}/news">
    <object type="image/svg+xml" data="{{"/img/Natron_icon.svg" | prepend: site.baseurl }}"></object>
    <h1>Natron</h1>
    </a>
  </div>
  <ul class="topnav-list column large-7 medium-7 small-12 large-offset-1 medium-offset-1 small-offset-0">
    <li><a href="{{site.url}}/about">About</a></li>
    <li><a href="{{site.url}}/downloads">Download</a></li>
    <li><a href="{{site.url}}/documentation">Docs</a></li>
    <li><a href="{{site.url}}/community">Community</a></li>
    <li><a href="{{site.url}}/news">News</a></li>
  </ul>
</nav>