<nav class="topnav row left-on-large left-on-medium center-on-small">
  <div class="topnav-logo column medium-2 large-2 small-12 large-offset-1 medium-offset-1">
    <a href="{{site.baseurl}}/">
    <object type="image/svg+xml" data="{{"/img/Natron_icon.svg" | prepend: site.baseurl }}"></object>
    Natron
    </a>
  </div>
  <ul class="topnav-list column large-7 medium-7 small-12 large-offset-1 medium-offset-1 small-offset-0">
    <li><a href="{{site.baseurl}}/about">About</a></li>
    <li><a href="{{site.baseurl}}/news">News</a></li>
    <li><a href="https://natron.readthedocs.io/en/rb-2.3/#">Docs</a></li>
    <li><a href="https://discuss.pixls.us/c/software/natron">Forum</a></li>
  </ul>
</nav>