.footer-seperator {
  height: 5rem;
  width: 100%;
}

footer {
  min-height: 25rem;
  background-color: $natronblue;
}

.footer-title {
  font-family: $titlefont;
  color: $natronyellow;
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
}

.footer-list {
  font-family: $bodyfont;
  list-style: none;
  margin: 0;
  padding: 0 0 2rem 0;

  li {
    margin: 0.4rem 0 0 0;
    font-size: 1rem;
  }

  i {
    padding-right: 0.5rem;
  }
}