// Hero Section

.index-hero {
  background-image: url("../img/spaceship.jpg");
  background-position: center;
  background-origin: content-box;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 40rem;
  padding-bottom: 5rem !important;

  h2 {
    color: white;
    font-family: $titlefont;
    font-size: 4rem;
    margin-top: calc(2rem + 4vw);
    margin-bottom: 10rem;
    position: relative;
    z-index: 2;
    text-shadow:-0.5px 0.5px $natronblue,
                -1px 1px $natronblue,
                -1.5px 1.5px $natronblue,
                -2px 2px $natronblue,
                -2.5px 2.5px $natronblue,
                -3px 3px $natronblue,
                -3.5px 3.5px $natronblue,
                -4px 4px $natronblue,
  }

  a {
    font-family: $bodyfont;
    color: white;
    font-size: 2rem;
    text-decoration: none;
  }
}

// Below Hero Download Section

.index-belowhero {
  min-height: 5rem;
}

// Brief About Section
.index-about {
  min-height: 35rem;
}

.index-about-info {
  background-color: $natronblue;
  min-height: 45rem;
  padding: 5rem;

  h3 {
    color: $natronyellow;
    font-family: $titlefont;
    font-size: 4rem;
    margin-bottom: 0;
    padding: 0 2rem 2rem 2rem;
  }

  p {
    color: white;
    padding: 0 2rem 0 2rem;
  }

  .index-about-info-icons {
    text-align: center;
    letter-spacing: 2rem;
    font-size: 6rem;
    padding: 0;
    margin-top: 4rem;
  }
}

.index-about-imagecontainer {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35rem;

  img {
    width: calc(80% * 2vw);
  }
}
// Feature cards

.index-features {
  background-color: white;

  h3 {
    color: $natronblue;
    font-family: $titlefont;
    font-size: 4rem;
    padding: 0 1.5rem 0 1.5rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }

  li {
    margin: 1rem;
    max-width: 20rem;
    transition-duration: 0.3s;
  }

  h4 {
    font-family: $titlefont;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: -0.6rem;
    color: black;
  }

  img {
    width: 100%;
  }
}