// Hero Section

.index-hero {
  background-image: url("../img/spaceship.jpg");
  background-position: center;
  background-origin: content-box;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 40rem;
  padding-bottom: 5rem !important;

  h2 {
    color: white;
    font-family: $titlefont;
    font-size: 4rem;
    margin-top: calc(2rem + 4vw);
    margin-bottom: 5rem;
    position: relative;
    z-index: 2;
  }

  a {
    font-family: $bodyfont;
    color: white;
    font-size: 2rem;
    text-decoration: none;
  }
}

// Brief About Section
.index-about {
  min-height: 35rem;
}

.index-about-info {
  background-color: $natronblue;
  min-height: 45rem;
  padding: 5rem;
  margin-top: 5rem;

  h3 {
    color: $natronyellow;
    font-family: $titlefont;
    font-size: 4rem;
    margin-bottom: 0;
    padding: 0 2vw 2rem 2vw;
  }

  p {
    color: white;
    padding: 0 2vw 0 2vw;
  }

  .index-about-info-icons {
    text-align: center;
    letter-spacing: 2rem;
    font-size: 6rem;
    padding: 0;
    margin-top: 4rem;
  }
}

.index-about-imagecontainer {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35rem;
  margin-top: 5rem;

  img {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

// Hack because basicgrid is broken and doesn't like when offsets are zero for bigger sizes but not smaller ones
// this may be removed in the future should basicgrid be fixed
@media only screen and (min-width: 640px) {
  .index-about-imagecontainer, .index-news-imagecontainer, .index-getinvolved, {
    margin-left: 8.3333333333%;
  }
}

@media only screen and (min-width: 1024px) {
  .index-about-imagecontainer, .index-news-imagecontainer, .index-getinvolved {
    margin-left: 0;
  }
}


// Feature cards

.index-features {
  background-color: white;
  margin-top: 5rem;

  h3 {
    color: $natronred;
    font-family: $titlefont;
    font-size: 4rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4rem;
  }

  ul {
    list-style: none;
    margin: 0 0 2rem 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }

  @media only screen and (max-width: 640px) {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  li {
    margin: 1rem;
    display: flex;
    justify-content: center;
  }

  object {
    width: 6rem;
  }

  .index-features-title {
    padding-top: 0.5rem;
    margin-bottom: -0.8rem;
  }

  h4 {
    display: inline;
    font-family: $titlefont;
    font-size: 1.2rem;
    color: black;
  }

  p {
    max-width: 15rem;
  }

}

// Latest News

.index-news {
  background-color: #ebebeb;
  min-height: 45rem;
  margin-top: 5rem;

  h3 {
    color: $natronred;
    font-family: $titlefont;
    font-size: 4rem;
    padding: 0 2vw 0 2vw;
  }
}

.index-newspost {
  padding: 0 2vw 0 2.2vw;

  a {
    text-decoration: none;
  }

  h4 {
    color: $natronblue;
    font-family: $titlefont;
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 2rem;
  }

  i {
    color: #36373b;
    vertical-align: -0.2rem;

  }

  .index-news-date {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: $bodyfont;
    color: #36373b;
    font-size: 0.9rem;
    padding-left: 2.5rem;
  }
}

.index-news-link {
  font-family: $bodyfont;
  font-size: 1.1rem;
  margin-top: 0;
  margin-left: 2.5rem;
  color: $natrondarkblue;

  i {
    transition-duration: 0.1s;
    color: inherit;
    vertical-align: -0.15rem;
  }
}

.index-news-link:hover {
  color: $natronblue;

  i {
    transition-duration: 0.1s;
    padding-left: 0.2rem;
  }
}

.index-news-imagecontainer {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45rem;
  margin-top: 5rem;
  padding: 0 !important;

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

// Download & Get Involved

.index-downloadsection {
  h3 {
    color: $natronyellow;
    font-family: $titlefont;
    font-size: 4rem;
    margin-bottom: 0;
    padding: 0 2vw 2rem 2vw;
  }

  p {
    color: white;
    padding: 0 2vw 0 2vw;
  }
}

.index-download {
  background-color: $natrongrey;
  min-height: 45rem;
  padding: 5rem;
  margin-top: 5rem;

  h3 {
    color: $natronyellow;
  }

  h4 {
    color: white;
    font-family: $titlefont;
    font-size: 2rem;
    margin-top: -1.5rem;
    margin-bottom: 0rem;
    padding: 0 2vw 0 2vw;
  }

  i {
    color: $natronyellow;
    vertical-align: -0.08rem;
  }

  h5 {
    color: white;
    font-family: $titlefont;
    font-size: 1.5rem;
    padding: 0 2vw 0 2vw;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
  }

  a {
    font-family: $bodyfont;
    padding: 0 2vw 0 2vw;
    line-height: 2rem;
  }
}

.index-download-box {
  margin-bottom: 6rem;
}

.index-getinvolved {
  background-color: $natronred;
  min-height: 45rem;
  padding: 5rem;
  margin-top: 5rem;
}