nav.topnav {
  background-color: white;
  min-height: 3rem;
  display: flex;
  align-content: space-between;
  vertical-align: middle;
  border-bottom: solid;
  border-width: 0.5rem;
  border-color: $natronblue;
}

.topnav-logo {
  a {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    padding-left: 0.5rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.1rem;
    font-family: $titlefont;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }

  object {
    position: relative;
    width: auto;
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    pointer-events: none;
    padding-right: 0.5rem;
  }
}

@media only screen and (min-width: 640px) {
  .topnav-logo a {
    justify-content: flex-start;
  }
}

.topnav-list {
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;

  a {
    color: darken($natronblue,30);
    text-decoration: none;
    font-family: $bodyfont;
    font-weight: 400;
    font-size: 1rem;
  }

  a:hover {
    color: $natronblue;
  }
}