// apply a natural box layout model to all elements, but allowing components to change
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	  box-sizing: inherit;
}
body {
 margin: 0;
 padding: 0;
}

// Variable Land

$natronblue: #2c84ec;
$natrondarkblue: darken($natronblue,35);
$natronyellow: #ffbf00;
$titlefont: "Jost", "Futura", sans-serif;

// Overarching CSS

// Buttons

.button {
	display: inline-block;
	background-color: $natronblue;
	color: white;
	font-family: $titlefont;
	letter-spacing: 0.02rem;
	padding-top: 0.6rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1.3rem;
	border-radius: 0.3rem;
	min-width: 15rem;
	text-decoration: none;
	text-align: center;
	box-shadow: 0 0.4rem lighten($natronblue, 10);
}