// apply a natural box layout model to all elements, but allowing components to change
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	  box-sizing: inherit;
}
body {
 margin: 0;
 padding: 0;
}

// Variable Land

$natronblue: #2c84ec;
$natrondarkblue: darken($natronblue,35);
$natronred: #dc1f26;
$natronyellow: #ffbf00;
$natrongrey: #36373b;
$natronlightgrey: #ebeef1;
$titlefont: 'Barlow', sans-serif;
$bodyfont: "Noto Sans", sans-serif;

// Typography

.page-title {
	color: $natronred;
	font-family: $titlefont;
	font-size: 3rem;
	margin-top: 1rem;
}

.basic-paragraph {
	font-family: $bodyfont;
	line-height: 1.4rem;
	font-size: 1rem;
}

a.hyperlink {
	text-decoration-thickness: 0.1rem;
	text-underline-offset: 0.3rem;
	color: black;
  cursor: pointer;
	transition-duration: 0.2s;
}

a.hyperlink-inverted:hover {
	transition-duration: 0.2s;
	text-underline-offset: 0.5rem;
}

a.hyperlink-inverted {
	text-decoration-thickness: 0.1rem;
	text-underline-offset: 0.3rem;
	color: white;
  cursor: pointer;
	transition-duration: 0.2s;
}

a.hyperlink-inverted:hover {
	transition-duration: 0.2s;
	text-underline-offset: 0.5rem;
}

// Buttons

.button {
	display: inline-block;
	background-color: $natrongrey;
	color: white;
	font-family: $bodyfont;
	font-size: 1.2rem !important;
	padding-top: 0.6rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	min-width: 15rem;
	text-decoration: none;
	text-align: center;
	box-shadow: 0 0.2rem darken($natrongrey, 5);
	transition-duration: 0.1s;

	i {
		vertical-align: -0.1rem;
		padding-right: 1rem;
		color: $natronyellow;
	}
}

.button:hover {
	background-color: lighten($natrongrey, 5);
	box-shadow: 0 0.2rem $natrongrey;
	transition-duration: 0.1s;
}

.button:active {
	position: relative;
	box-shadow: 0 0 rgba(0, 0, 0, 0);
	bottom: -0.2rem;
}